doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 19
    link(rel='stylesheet', href='./css/d-19.css')
  body
    h1 Drill 19
    input#symbol(placeholder='Stock Symbols')
    br
    button#get Sum

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-19.js')
