doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Stock 3D Donut Chart Demo
    link(rel='stylesheet', href='./css/d-25.css')
  body
    #controls
      h1 Stock 3D Donut Chart Demo
      input#symbol(placeholder='Stock Symbol')
      input#shares(placeholder='# of Shares')
      button#get Add Shares
    #chartdiv



    script(src='./js/vendor/jquery-2.1.0.js')
    script(src="http://www.amcharts.com/lib/3/amcharts.js")
    script(src="http://www.amcharts.com/lib/3/pie.js")
    script(src="http://www.amcharts.com/lib/3/themes/none.js")
    script(src='./js/source/d-25.js')
